{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="todo">
    <h1 class="todo__header"> To Do App 📝 </h1>

    <div class="card todo_headerContainer">
        <p class="font-weight-bold"> What do you have to do today? 🔥 </p>
        <form action="/add" method="post" class="todo__form">
            <input type="text" placeholder="Write task here..." name="todoitem">
            <input type="submit" class="btn btn-info" value="➕ Add Item">
        </form>
    </div>

    <div class="todo__itemContainer">
        <div class="card todo__innerItemContainer">
            <h2 class="todo__itemHeader"> To Do's ⏰ </h2>

            <ul class="todo__container">
                <li class="todo__item">
                    <p>Task 1</p>
                    <a class="btn btn-outline-success" href="/complete"> Complete ➡️ </a>
                    <a class="todo__close" href="/delete">❌</a>
                </li>
            </ul>
        </div>

        <div class="card todo__innerItemContainer">
            <h2 class="todo__itemHeader"> Done ✅ </h2>

            <ul class="todo__container">
                <li class="todo__item">
                    <p>Done task</p>
                    <a class="btn btn-outline-warning" href="/uncheck"> Undo ⬅ </a>
                    <a class="todo__close" href="/delete">❌</a>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>
